.login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login .insert {
    border-radius: 3px;
    border: 0.1px solid white;
    color: white;
    background: pink;
    font-family: "Times New Roman";
  }
  .login:hover .insert {
    background-color: #f2a1d9;
    box-shadow: 0px 0px 5px white;
    text-shadow: 1.5px 1.5px 2.5px white;
  }
  .submitButton {
  border-radius: 5px;
  margin-top:20px;
  border: 0.1px solid white;
  color: white;
  font-family: "Times New Roman";
  background-color: transparent;
}
.submitButton:hover {
  background-color: #f2a1d9;
  box-shadow: 0px 0px 5px white;
  text-shadow: 1.5px 1.5px 2.5px white;
}
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.enter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}